.section-login {
  padding: 6rem 2rem;
  min-height: calc(77vh - 7rem);

  .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3.2rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 800;
      color: var(--gray-color);
      margin-bottom: 3rem;
    }

    .login-form {
      width: 100%;
      max-width: 40rem;
      display: flex;
      flex-direction: column;

      padding: 2rem;

      button {
        padding: 1.5rem 2rem;
        border: none;
        background: var(--primary-color);
        color: #fff;
        border-radius: 0.5rem;
        margin-top: 2rem;
        text-transform: uppercase;
        width: 100%;
        transition: all 0.2s;

        &:hover,
        &:focus {
          background: var(--primary-color-80);
        }

        &:disabled {
          cursor: wait;
        }
      }
    }

    .box-form-error {
      display: inline-block;
      background: rgba(250, 14, 14, 0.726);
      padding: 0.5rem 2rem;
      color: #fff;
      font-size: 1.4rem;
    }

    .box-redirect {
      width: 100%;
      max-width: 40rem;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      font-size: 1.2rem;

      a {
        color: #354f70;
        transition: all 0.2s;

        &:hover {
          color: var(--secundary-color);
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .box-redirect {
    flex-direction: column;
    gap: 0.5rem !important;
  }
}
