.header {
  font-size: 1.4rem;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    li {
      a {
        color: var(--gray-color);
        display: block;
        padding: 0.8rem;
        text-decoration: none;
        transition: all 0.3s;

        &:active,
        &:focus,
        &:hover {
          color: var(--primary-color);
          transform: translateY(-0.1rem);
        }
      }
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;

  .btn-login {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: var(--gray-color);

    background: var(--white-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    &:hover,
    &:focus {
      transform: translateY(-0.1rem);

      background: var(--primary-color);
      color: var(--white-color);
    }
  }
}

.btn-mobile {
  display: none;
  height: 4.8rem;
  width: 5.2rem;
  background: url('../../assets/icon-hamburger.svg') no-repeat center center;
  cursor: pointer;
  border: none;
}

.user-info {
  // display: flex;
  // align-items: center;
  position: relative;

  // rgba(255, 255, 255, 0.644)

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border: 4px solid rgba(255, 255, 255, 0.644);
    border-radius: 5rem;
    font-size: 2.5rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
  }

  .dropdown {
    display: none;
    position: absolute;
    text-align: center;
    padding: 1rem 0.5rem;
    top: 5.5rem;
    left: 50%;
    right: 50%;
    width: 10rem;
    border-radius: 0.5rem;
    background: var(--white-color);
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);

    transform: translateX(-50%);

    a {
      color: var(--gray-color);
      display: block;
      margin-bottom: 1rem;
      transition: all 0.2s;

      &:hover {
        color: var(--primary-color-80);
      }
    }

    .btn-logout {
      width: 100%;
      font-size: 1.4rem;
      background: none;
      border: none;
      font-family: inherit;
      text-align: left;
      padding: 0.2rem;
      color: var(--gray-color);
      transition: all 0.2s;

      &:hover {
        color: var(--primary-color-80);
      }
    }

    &.dropdown-active {
      display: block;
    }
  }
}

@media (max-width: 600px) {
  .header-container {
    justify-content: space-between;
  }
  .header-menu {
    display: none;
  }

  .header-menu {
    &.active {
      display: block;
      width: 100%;
      position: absolute;
      top: 10rem;
      left: 0;
      height: calc(100vh - 10rem);
      padding: 4rem 2rem;
      background: var(--primary-color);
      z-index: 1000;

      ul {
        flex-direction: column;

        a {
          color: var(--white-color);

          &:hover {
            color: var(--gray-color);
          }
        }
      }
    }

    .btn-group {
      flex-direction: column;
      justify-content: center;
      margin-top: 3rem;
    }

    .btn-login {
      width: 100%;
      color: var(--primary-color);
      border: 1px solid var(--white-color);
      border-radius: 0.5rem;
    }
  }

  .btn-mobile {
    display: block;
  }

  .user-info {
    flex-direction: column;
    margin-top: 3rem;

    .btn-logout {
      width: 100%;
      padding: 1rem 2rem;
    }
  }
}
