.footer {
  background: var(--gray-color);

  font-size: 1.6rem;
  color: #fff;
  padding: 6rem 0 1rem;

  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;

    .footer-menu {
      ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
          a {
            display: block;
            padding: 0.5rem;
            color: inherit;
            transition: all 0.2s;

            &:hover {
              color: var(--primary-color);
              transform: translateY(-0.1rem);
            }
          }
        }
      }
    }

    .social-link {
      display: flex;
      align-items: center;
      gap: 2rem;

      a {
        transition: all 0.3s;
        &:hover,
        &:active {
          transform: translateY(-0.1rem);

          svg path {
            fill: var(--primary-color);
          }
        }
      }
    }
  }

  .copyright {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;

    .footer-menu {
      margin-bottom: 3rem;
      ul {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    font-size: 1.4rem;
  }
}

@media (max-width: 475px) {
  .footer-container {
    .footer-menu {
      ul {
        flex-direction: column;
      }
    }
  }
}
